{% extends 'nucleo/base.html' %} 
{% block titulo %} Portada {% endblock %}

{%block contenido %}

{% if request.user.is_staff %}


{% if 'logout' in request.GET%}
<p style="color: green">Ha cerrado sesion correctamente</p>
{% endif %}

{% if especialistas %}
<table class="table">
  <caption><a class="btn btn-primary" href="{% url 'nucleo:crearEspecialistas' %}">Añadir especialistas</a></caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">DNI</th>
        <th scope="col">Direccion</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for e in especialistas %}
      <tr>
        <td>{{ e.first_name }}</td>
        <td>{{ e.dni }}</td>
        <td>{{ e.direccion }}</td>
        <td>{{ e.fechaNacimiento }}</td>
        <td>
          <a class="btn btn-primary" href="{%url 'nucleo:editarEspecialistas' e.pk %}">Editar</a>
          <a class="btn btn-danger" href="{% url 'nucleo:borrarEspecialistas' e.pk  %}">Eliminar</a>
        </td>
      </tr>
      {% endfor %}

      

      {% else %}
      <h1>No hay registros de especialistas</h1>

      {% endif %}


{% if clientes %}
<table class="table">
  <caption><a class="btn btn-primary">Clientes</a></caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">DNI</th>
        <th scope="col">Direccion</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for c in clientes %}
      <tr>
        <td>{{ c.first_name }}</td>
        <td>{{ c.dni }}</td>
        <td>{{ c.direccion }}</td>
        <td>{{ c.fechaNacimiento }}</td>
        <td>
          <a class="btn btn-primary">Activar</a>
        </td>
      </tr>
      {% endfor %}
      
      {% else %}
      <h1>No hay registros de clientes</h1>

      {% endif %}

      {% endif %}

{% comment %} {% if citas %}
  <table class="table">
    <caption><a class="btn btn-primary" href="{% url 'nucleo:crearCitas' %}">Añadir citas</a></caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Informe</th>
          <th scope="col">Realizada</th>
          <th scope="col">Cliente</th>
          <th scope="col">Especialistas</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for ci in citas %}
        <tr>
          <td>{{ ci.fecha }}</td>
          <td>{{ ci.informe }}</td>
          <td>{{ ci.realizada }}</td>
          <td>{{ ci.idCliente }}</td>
          <td>{{ ci.idEspecialista }}</td>
          <td>
          <a class="btn btn-primary" href="{%url 'nucleo:editarCitas' ci.pk %}">Editar</a>
          <a class="btn btn-danger" href="{% url 'nucleo:borrarCitas' ci.pk  %}">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
        
        {% else %}
        <h1>No hay registros de citas</h1>

{% endif %} {% endcomment %}
      
  </tbody>
  </table>

{% endblock %}