{% extends 'nucleo/base.html' %} 
{% block titulo %} Portada {% endblock %}

{%block contenido %}

{% if request.user.is_staff %}

{% comment %} <h1>Especialistas</h1> {% endcomment %}

{% if especialistas %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">DNI</th>
        <th scope="col">Direccion</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for e in especialistas %}
      <tr>
        <td>{{ e.first_name }}</td>
        <td>{{ e.dni }}</td>
        <td>{{ e.direccion }}</td>
        <td>{{ e.fechaNacimiento }}</td>
        <td>
          <a class="btn btn-primary" href="{%url 'nucleo:editarEspecialistas' e.pk %}">Editar</a>
          <a class="btn btn-danger" href="{% url 'nucleo:borrarEspecialistas' e.pk  %}">Eliminar</a>
        </td>
      </tr>
      {% endfor %}

      {% else %}
      <h1>No hay registros de especialistas</h1>

      {% endif %}

{% comment %} <h1>Clientes</h1> {% endcomment %}

{% if clientes %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">DNI</th>
        <th scope="col">Direccion</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for c in clientes %}
      <tr>
        <td>{{ c.first_name }}</td>
        <td>{{ c.dni }}</td>
        <td>{{ c.direccion }}</td>
        <td>{{ c.fechaNacimiento }}</td>
        <td>
          <a class="btn btn-primary">Activar</a>
        </td>
      </tr>
      {% endfor %}

      {% else %}
      <h1>No hay registros de clientes</h1>

      {% endif %}

      {% endif %}

      
  </tbody>
  </table>

{% endblock %}