{% extends 'nucleo/base.html' %} 
{% block titulo %} Portada {% endblock %}

{%block contenido %}
<div>
{% comment %} <h1>HOLA</H1> {% endcomment %}
{% comment %} <img src="photos/Portada.jfif"> {% endcomment %}
</div>
{% if clientes %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">DNI</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Fecha de nacimiento</th>
    </tr>
  </thead>
  <tbody>
    {% for c in clientes %}
    <tr>
      <td>{{ c.id }}</td>
      <td>{{ c.dni }}</td>
      <td>{{ c.nombre }}</td>
      <td>{{ c.direccion }}</td>
      <td>{{ c.fechaNacimiento }}</td>
    </tr>
    {% endfor %}

    {% else %}
    <h1>No hay registros de clientes</h1>

    {% endif %}
  </tbody>
</table>

{% endblock %}