{% extends 'nucleo/base.html' %} 
{% block titulo %} Portada {% endblock %}

{%block contenido %}


{% if citas %}
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Informe</th>
          <th scope="col">Realizada</th>
          <th scope="col">Cliente</th>
          <th scope="col">Especialistas</th>
        </tr>
      </thead>
      <tbody>
        {% for ci in citas %}
        <tr>
          <td>{{ ci.fecha }}</td>
          <td>{{ ci.informe }}</td>
          <td>{{ ci.realizada }}</td>
          <td>{{ ci.idCliente }}</td>
          <td>{{ ci.idEspecialista }}</td>
        </tr>
        {% endfor %}
        
        {% else %}
        <h1>No hay registros de citas</h1>

{% endif %}



{% endblock %}